
.Lang {
    font-family: sans-serif;
    text-align: center;
  }
  .selectBox {
    background: grey;
    color: white;
    padding: 10px;
    font-weight: bold;
    width: 150px;
  }
  .optionsMenu {
    background: lightcoral;
    padding: 10px;
    font-weight: bold;
    width: 150px;
  }
  .textToChange {
    color: blueviolet;
    font-weight: bold;
  }
  