  *{
    scroll-behavior: smooth;
  }
  
  // Breakpoints
  $bp-xsmall: 37.5em; // 600px
  $bp-small: 48em; // 768px
  $bp-medium: 64em; // 1024px
  $bp-large: 85.375em; // 1366px
  $bp-xlarge: 120em; // 1920px
  $bp-xxlarge: 160em; // 2560px
  
  // Media Queries
  $mq-xsmall: '(max-width: #{$bp-xsmall})';
  $mq-small: '(max-width: #{$bp-small})';
  $mq-medium: '(max-width: #{$bp-medium})';
  $mq-large: '(max-width: #{$bp-large})';
  $mq-xlarge: '(max-width: #{$bp-xlarge})';
  $mq-xxlarge: '(max-width: #{$bp-xxlarge})';
  $mq-retina: '(-webkit-max-device-pixel-ratio: 2), (max-resolution: 192dpi)';
  
  
  
  $main-header-welcom-text-color: rgb(200, 201, 203);
  $main-header-menu-text-color: rgb(248, 248, 248);
  
  $skills-title-color: rgb(202, 15, 235);
  $skills-title-color2: rgb(31, 30, 30);
  
  .App {
    direction: ltr;
    overflow: hidden;
    overflow-x: hidden;
    width: 100%;
    text-align: center;
    margin: auto;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    position: relative;
    font-family: 'Times New Roman','Georgia',  Georgia ,  monospace;
    font-size: 1.2rem;

    .Container {
      width: 100%;
      // text-align: center;
      // margin: auto;


    }

     .page{
       max-width: 100%;
       min-height: 100vh;
       padding-bottom: 20px;
       height: auto;

     }
  }

  /********************MAIN MENU****************/
  .main_menu {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100vw;
  
    background-color: transparent;
    color: $main-header-menu-text-color;
    z-index: 3;
    transition: all 0.5s;
    top: 0;
    left: 0;
  }
  
  .main_menu .menu {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }
  
  .main_menu .menu .item {
    a {
      color: $main-header-menu-text-color;
    }
    .active {
      color: rgb(175, 44, 192);
    }
  
    cursor: pointer;
    padding: 1rem;
  }
  
  .main_menu .menu .item:hover {
    a {
      color: blueviolet;
      transition: all 0.2s ease-in-out;
    }
  }
  
  .ShowInTop {
    .menu .item a {
      color: #282c34;
    }
  
    position: fixed;
    background-color: white;
    box-shadow: 0 1px 5px 1px gainsboro;
  }
  
  .showMenuBtn {
    position: fixed;
  
    right: 10%;
    top: 20px;
  
    background-color: transparent;
    color: rgb(213, 189, 189);
    font-size: 3rem;
    z-index: 5;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
  }
  
  /////////////////////////////////////MAIN HEADER//////////////////////////////
  
  .Home_header {
    filter: brightness(1);
    width: 100vw;
    height: 100vh;
    background-image: url("./img/main-header-img.jpg");
    background-size: cover;
    background-repeat: round;
  
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
  
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .welcome_text {
    color: $main-header-welcom-text-color;
    font-size: 1.5rem;
  }
  .name_text {
    font-size: 4rem;
    color: white;
    font-weight: 500;
  }
  .typer {
    display: inline-block;
    width: auto !important;
    color: #999;
    font-size: 1.5rem;
    border: 1px solid transparent;
    border-top: 1px solid rgba(199, 195, 195, 0.2);
    border-bottom: 1px solid rgba(199, 195, 195, 0.2);
    background-color: transparent;
  }
  .type_text {
    text-align: center;
  }
  
  .main_header_link {
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  .main_header_link a {
    display: flex;
    justify-content: center;
    padding: 0.6rem;
    margin: 1rem;
    color: rgb(233, 158, 248);
  
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s ease-out;
    z-index: 2;
  }
  
  .main_header_link a:hover {
    background-color: blueviolet;
  }
  
  .header_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  
  
  
  
  
  
  
  
  ///////////////////////////////RESPONSIVE///////////////////////////////////////////////
  ///
  /// 
  @media only screen and #{$mq-retina} {
    .App {
      .header {
        .headerContent {
          margin: 0 30%;
        }
      }
      .Container {
        //margin: 0 30%;
       // margin: 0;
  
      }
      .footer {
        .footerContent {
          margin: 0 30%;
        }
      }
      .page{
          //margin: 0 30%;
          padding: 0 30%;

      }
    }
  }
  
  @media only screen and #{$mq-xxlarge} {
    .App {
      .header {
        .headerContent {
          margin: 0 25%;
        }
      }
      .Container {
        //margin: 0 25%;
       // margin: 0;

  
      }
      .footer {
        .footerContent {
          margin: 0 25%;
        }
      }
      .page{
        //margin: 0 25%;
        padding: 0 25%;

    }
    }
  }
  
  @media only screen and #{$mq-xlarge} {
    .App {
      .header {
        .headerContent {
          margin: 0 18%;
        }
      }
      .Container {
        //margin: 0 18%;
       // margin: 0;
  
      }
      .footer {
        .footerContent {
          margin: 0 18%;
        }
      }
      .page{
        //margin: 0 18%;
        padding: 0 18%;

    }
    }
  }
  
  @media only screen and #{$mq-large} {
    .App {
      .header {
        .headerContent {
          margin: 0 10%;
        }
      }
      .Container {
       // margin: 0 10%;
        // margin: 0;
  
      }
      .footer {
        .footerContent {
          margin: 0 8%;
        }
      }
      .page{
       // margin: 0 10%;
       padding: 0 10%;

    }
    }
  }
  
  @media only screen and #{$mq-medium} {
    .App {
      .header {
        .headerContent {
          max-width: 86%;
  
          margin: 0 6%;
        }
      }
      .Container {
        //margin: 0 6%;
       // margin: 0;
  
      }
      .footer {
        position: static;
        bottom: 0;
        .footerContent {
          margin: 0 5%;
  
        }
      }

      .page{
       // margin: 0 6%;
       padding: 0 6%;

    }
  
    }
  }
  
  @media only screen and #{$mq-small} {
          //for tablet////
    .App {
      .header {
        .headerContent {
          max-width: 90%;
          margin: 0 4%;
        }
      }
      .Container {
        //margin: 0 4%;
        //margin: 0;
  
      }
  
      .footer {
        .footerContent {
          margin: 0 4%;
          .join {
            .btn {
              max-width: 10vw;
            }
          }
        }
      }
      .page{
        //margin: 0 4%;
        padding: 0 4%;

    }
    .portfolio .projects .project {
      width: 500px;
    }
    .portfolio .projects {
      width: 70vw;
    }
  
  
  
  
    }
  }
  
  @media only screen and #{$mq-xsmall} {
          //for mobile////
  
    .App {
      height: auto;
      padding-bottom: 0;
      .header {
        .headerContent {
          margin: 0 5%;
        }
      }
      .Container {
       // margin: 0 5%;
      // margin: 0;
      }
  
      .footer {
        .footerContent {
          margin: 0 5%;
        }
      }
      .page{
        //margin: 0 5%;
        padding: 0 5%;
    }
    .main_menu {
      left: -200px;
      width: 200px;
      height: 100vh;
      background-color: rgba($color: #346ad7, $alpha: 0.8);
    }
  
    .showMenuBtn {
      display: flex;
    }
    .showMenu {
      flex-direction: column;
      position: fixed;
      left: 0px;
      height: 100%;
      .showMenuBtn {
        position: static;
        align-self: flex-start;
      }
    }
  
    .main_menu .menu {
      flex-direction: column;
      justify-content: flex-start;
      flex-basis: 100%;
      align-items: center;
      .item {
        width: 100%;
        display: flex;
      }
      .item a {
        width: 100%;
        text-align: center;
      }
    }
    .portfolio .projects {
      width: 90%;
    }
    .portfolio .projects .project {
      width: 100%;
    }
    .my_skills_section .skills .skill {
      width: 100%;
    }
  
    .my_skills_section {
      padding-top: 20px;
    }
  
    .about_me {
      padding-top: 0px;
    }
  
    .portfolio {
      padding-top: 20px;
    }
  
    }
  }
  
  