* {
  scroll-behavior: smooth;
}

$main-header-welcom-text-color: rgb(200, 201, 203);
$main-header-menu-text-color: rgb(248, 248, 248);
$aboutMe-title-color: rgb(31, 30, 30);
$aboutMe-title-color2: rgb(202, 15, 235);
$aboutMe-Bgbuttom-color: rgb(202, 15, 235);
$aboutMe-buttom-text-color: rgb(248, 248, 248);
$skills-title-color: rgb(202, 15, 235);
$skills-title-color2: rgb(31, 30, 30);

.App {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/********************MAIN MENU****************/
.main_menu {
  position: absolute;
  display: flex;
  font-size: larger;
  justify-content: center;

  width: 100%;
  background-color: transparent;
  color: $main-header-menu-text-color;
  z-index: 3;
  transition: all 0.5s;
  top: 0;
  left: 0;
}

.main_menu .menu {
  display: flex;
  column-gap: 1rem;
}

.main_menu .menu .item {
  a {
    color: $main-header-menu-text-color;
  }

  cursor: pointer;
  font-weight: bold;
  padding: 1rem;
}

.main_menu .menu .item:hover {
  a {
    color: blueviolet;
    transition: all 0.2s ease-in-out;
  }
}

.ShowInTop {
  .menu .item a {
    color: #282c34;
  }

  position: fixed;
  background-color: white;
  box-shadow: 0 1px 5px 1px gainsboro;
}

/////////////////////////////////////MAIN HEADER//////////////////////////////
.main-header-img {
  width: 100%;
  height: 100%;
}

.Home_header {
  background-image: url("./img/main-header-img.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background-size: cover;
}

.welcome_text {
  color: $main-header-welcom-text-color;
  font-size: 1.5rem;
}
.name_text {
  font-size: 4rem;
  color: white;
  font-weight: 500;
}
.typer {
  display: inline-block;
  width: auto !important;
  color: #999;
  font-size: 1.5rem;
  border: 1px solid transparent;
  border-top: 1px solid rgba(199, 195, 195, 0.2);
  border-bottom: 1px solid rgba(199, 195, 195, 0.2);
  background-color: transparent;
}
.type_text {
  text-align: center;
}

.main_header_link {
  display: flex;
  justify-content: center;
}
.main_header_link span {
  display: flex;
  justify-content: center;
  padding: 0.6rem;
  margin: 1rem;

  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s ease-out;
  z-index: 2;
}

.main_header_link span:hover {
  background-color: blueviolet;
}

.header_canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

/********************ABOUT ME****************/
.about_me {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 4rem;
  padding: 3rem;
  width: 100vw;
  height: 100%;
  padding: 5rem 0 0 0;
}
.about_me .right {
  text-align: left;
  border: 10px solid rgb(245, 245, 245);
  border-radius: 5px;
  height: 530px;
  width: 380px;
}
.about_me .right img {
  height: 100%;
  width: 100%;
}

.about_me .left {
  display: flex;

  flex-direction: column;
  width: 500px;
  height: 530px;
  //flex-basis: 60%;

  justify-content: space-between;
}

.about_me .left h1 {
  color: $aboutMe-title-color;
  padding: 0;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgb(151, 151, 172);
}
.about_me .left h1 span {
  color: $aboutMe-title-color2;
  border-bottom: 1px solid $aboutMe-title-color2;
}

.about_me .left p {
  padding-bottom: 30px;
  border-bottom: 1px solid #999;
}

.about_me .left .description {
  display: flex;

  flex-wrap: wrap;
}
.about_me .left .description div {
  min-width: 50%;
  padding-bottom: 2rem;
}

.about_me .left button {
  align-self: flex-start;
  position: relative;
  font-weight: bold;
  font-size: 1.2rem;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: $aboutMe-Bgbuttom-color;
  color: $aboutMe-buttom-text-color;
  z-index: 2;
}
.about_me .left button:hover {
  color: #282c34;
}

.about_me .left button::before {
  transition: all 0.3s ease-out;
  border-radius: 30px;
  content: "";
  width: 0px;
  height: 50px;
  background-color: $aboutMe-buttom-text-color;
  position: absolute;
  left: 100px;
  top: 0px;
  z-index: -1;
}
.about_me .left button:hover::before {
  width: 200px;
  left: 0px;
  top: 0px;
}

///////////////////////////////////MY SKILLS//////////
.my_skills {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.my_skills_section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  margin: 10% 0 0 0;
  background-color: rgb(242, 242, 242);
}
.my_skills_section .title {
  //padding: 100px;
  color: $skills-title-color2;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 2px 2px 2px rgb(151, 151, 172);
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
.my_skills_section .title span {
  color: $skills-title-color;
  border-bottom: 1px solid $skills-title-color;
  padding-bottom: 3px;
}
.my_skills_section .skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 1;
  width: 100%;
  padding: 30px;
}
.my_skills_section .skills .skill {
  width: 40%;
  position: relative;
}

.my_skills_section .skills .skill:last-child {
}
.my_skills_section .skills .skill .name {
  padding-bottom: 20px;
}
.my_skills_section .skills .skill .bar {
  background-color: white;
  width: 100%;
  height: 5px;
}

.my_skills_section .skills .skill .bar .bar_value {
  background-color: rgb(173, 7, 228);
  height: 5px;
}
.my_skills_section .skills .skill .degree {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: 50%;
  border-radius: 5px;
  background-color: white;
  width: 30px;
  height: 30px;
}

//////////////////////PORTFOLIO//////////////
///
.portfolio {
  text-align: center;
  padding-top: 100px;
}
.portfolio .title {
  font-size: 3rem;
  display: inline-block;
  color: $skills-title-color2;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 2px 2px 2px rgb(151, 151, 172);
  border-bottom: 1px solid rgb(212, 206, 206);
  padding-bottom: 10px;
  margin: 0 0 3rem 0;
  text-align: center;
}

.portfolio .title span {
  color: $skills-title-color;
  border-bottom: 1px solid $skills-title-color;
  padding-bottom: 3px;
}

.portfolio .works {
  display: flex;
  max-width: 70vw;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}

.portfolio .works .work {
  position: relative;
  width: 350px;
  height: 350px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 0.5rem;
}

.portfolio .works .work img {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
}
.portfolio .works .work .work_title {
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100%;
  left: 0;
  background-color: rgba($color: #93b6fc, $alpha: 0.3);
  div {
    padding: 10px;
  }

  .icons {
    display: flex;
    gap: 50px;
    font-size: 1.5rem;
    .zoom {
      cursor: pointer;
    }

    .zoom:hover {
      color: red;
    }
    .link {
      cursor: pointer;
    }

    .link:hover {
      color: red;
    }
  }
}

.portfolio .works .work:hover {
  .work_title {
    top: 0;
  }
}
