////////////////////// Projects /////////////////////////////////////////////////////
///
/// // Breakpoints
$bp-xsmall: 37.5em; // 600px
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-xsmall: '(max-width: #{$bp-xsmall})';
$mq-small: '(max-width: #{$bp-small})';
$mq-medium: '(max-width: #{$bp-medium})';
$mq-large: '(max-width: #{$bp-large})';
$mq-xlarge: '(max-width: #{$bp-xlarge})';
$mq-xxlarge: '(max-width: #{$bp-xxlarge})';
$mq-retina: '(-webkit-max-device-pixel-ratio: 2), (max-resolution: 192dpi)';
$skills-title-color: rgb(202, 15, 235);
$skills-title-color2: rgb(31, 30, 30);


.portfolio_page{
  width: 100%;
}
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
    width: 100%;
  }
  .portfolio > .title {
    font-size: 3rem;
    display: inline-block;
    color: $skills-title-color2;
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 2px 2px 2px rgb(151, 151, 172);
    border-bottom: 1px solid rgb(212, 206, 206);
    padding-bottom: 10px;
    margin: 0 0 3rem 0;
    text-align: center;
  }
  
  .portfolio > .title span {
    color: $skills-title-color;
    border-bottom: 1px solid $skills-title-color;
    padding-bottom: 10px;
  }
  
  .portfolio .projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .portfolio .projects .project {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 30px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    

  }
  .portfolio .projects .project:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  }
  
    .portfolio .projects .project .img_section{
      width: 500px;
      height: 360px;
      flex-grow: 1;

    }
    .portfolio .projects .project .desc_section{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 250px;
      text-align: left;
    }
    .portfolio .projects .project .desc_section .title{
        font-size: 2rem;
      }
      .portfolio .projects .project .desc_section .desc{

      }
      .portfolio .projects .project .desc_section .link_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-weight: bold;
        color: white;
        width: 140px;
        height: 45px;
        background-color: rgb(224, 113, 228);
        border-radius: 5px;
        cursor: pointer;


      }
    

  
    .portfolio .projects .project .desc_section .link_btn:hover{
        background-color: rgb(171, 88, 179);
        transition: all .3s;
        transform: translateY(-2px);

  }

  @media only screen and #{$mq-large} {

    .portfolio .projects .project {
     width: 100%;
    }
  }


  @media only screen and #{$mq-medium} {

     .portfolio .projects .project {
      width: 80%;
     }
  }

  @media only screen and #{$mq-small} {

    .portfolio .projects .project {
     width: 100%;
    }
 }

 @media only screen and #{$mq-xsmall} {
  .portfolio .projects{
    width: 90%;
  }
  .portfolio .projects .project {
   width: 100%;
   .img_section{
      height: 250px;
   }
  }
}
 
  