/////////////////////////////////////MAIN HEADER//////////////////////////////
$main-header-welcom-text-color: rgb(200, 201, 203);
$main-header-menu-text-color: rgb(248, 248, 248);
.Home_header {
    filter: brightness(1);
    width: 100vw;
    height: 100vh;
    background-image: url("../../img/main-header-img.jpg");
    background-size: cover;
    background-repeat: round;
  
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .Home_header .right_section{
    display: flex;
    border-radius: 20px;
    background-color: #999;
    object-fit: cover;
    box-shadow: 0px 0px 30px -5px #151410;
    width: 30%;
    height: 70%;
    overflow: hidden;
    z-index: 1;

    .myPicture{
      width: 100%;
      height: 100%;
    }

  }
  .Home_header .left_section{
    max-width: 50%;
    width: 40%;
    text-align:left;
    line-height: 4rem;
    font-family:'lato', sans-serif;
    z-index: 2;


  }
  .welcome_text {
    color: white;
    font-weight: 600;
    line-height: 1.7;
    padding-bottom: 10px;


  }
  .aboutMe {
    font-size: 1.3rem;
    color: white;
    line-height: 2rem;
    font-weight: 300;

  }
  .typer {
    display: inline-block;
    width: auto !important;
    color: #999;
    font-size: 1.5rem;
    border: 1px solid transparent;
    border-top: 1px solid rgba(199, 195, 195, 0.2);
    border-bottom: 1px solid rgba(199, 195, 195, 0.2);
    background-color: transparent;
  }
  .type_text {
    text-align: center;
  }
  
  .main_header_link {
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  .main_header_link a {
    display: flex;
    justify-content: center;
    padding: 0.6rem;
    margin: 1rem;
    color: white;
  
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  
  .main_header_link a:hover {
    transform:translateY(-0.3rem);
  }
  
  .header_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }