:root {
  --TodoList-width-lg: 500px;
  --TodoList-height-lg: 700px;
  --TodoList-width-md: 400px;
  --TodoList-height-md: 500px;
  --TodoList-width-sm: 300px;
  --TodoList-height-sm: 400px;
}

@keyframes editable {
  from {
    font-size: 1.2rem;
  }
  to {
    font-size: 1.5rem;
  }
}

.TodoList {
  height: 100vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  position: relative;
  direction: ltr;
  background-color: rgb(221, 216, 210);
}

.todos_header {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 10px;
  row-gap: 5px;
  color: rgb(214, 34, 175);
  background-size: cover;
  background-repeat: round;
}
.todos_header .day {
  font-size: 2rem;
}
.todos_header .month {
  font-size: 1rem;
}

.add_todos {
  margin: 30px 20px 40px 20px;
  border-bottom: 3px solid #999;
  padding-bottom: 10px;
}
.add_todos form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.add_todos form button {
  height: 100%;
  font-size: 1.5rem;
  background-color: transparent;
  border: 1px solid rgb(221, 216, 210);
  z-index: 2;
  padding: 10px 10px 0px 10px;
}

.add_todos form button:hover {
  border: 1px solid #999;
}

.add_todos form input {
  width: 100%;
  height: 30px;
  border: none;

  outline: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.todos_list {
  padding: 0 20px 0 20px;
  height: 100%;
  overflow: auto;
}

.todos_list ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.todos_list ul li button {
  background-color: transparent;
  font-size: 2rem;
  padding: 10px;
  border: 1px solid rgb(221, 216, 210);
}

.todos_list ul li button:hover {
  border: 1px solid #999;
}

.todos_list ul li .todo_content {
  margin-left: 20px;
  margin-right: 0px;
  width: 70%;
  max-width: 65vmax;
  overflow: hidden;
}

.todos_list ul .iscomplete .todo_content {
  text-decoration: line-through;
  color: red;
}

.todos_list ul li input {
  accent-color: red;
  height: 1.5rem;
  width: 1.5rem;
}
.todos_list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #999;
}
.todos_list ul .edited {
  background-color: rgb(214, 250, 250);

  animation: editable 0.5s linear 0.5s infinite alternate;
}

.todos_footer {
  background-color: rgb(148, 156, 153);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-top: 2px solid rgb(68, 64, 64);
  /* position: absolute; */
  width: 100%;

  bottom: 0;
}

.bg_todo_header_day {
  background-image: url("./img/header-day.jpg");
}
.bg_todo_header_afternoon {
  background-image: url("./img/header-afternoon.jpg");
}
.bg_todo_header_night {
  background-image: url("./img/header-night.jpg");
}

@media only screen and (max-width: 768px) {
  /* For tablet: */
  .TodoList {
    width: 80vw;
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile: */
  .TodoList {
    width: 100vw;
  }
}
