.product_manager {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.main_header {
  width: 100%;
  height: 10%;
  background-color: white;
  text-align: center;
}
.sidebar {
  position: absolute;
  height: 90%;
  right: 0;
  top: 10%;
  width: 15%;

  background-color: rgb(86, 82, 82);
  text-align: center;
}

.login_page {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}

.page_wraper {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  position: absolute;
  right: 15%;
  width: 85%;
  height: 90%;
  //justify-content: center;
  align-items: center;
  background-color: #eefafd;
}

.card {
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: 0.05);
  font-size: 1.5rem;
  background-color: white;
}

.card_body {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 20px;
  font-size: 1.5rem;

  input {
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    transition: outline 0.1s ease;
    padding: 10px;
    direction: ltr;
  }

  input:focus {
    border: 1px solid #1b26f1;
    outline: 5px solid rgba($color: #6b72fb, $alpha: 0.3);
  }
  [type="submit"] {
    align-self: flex-start;
    padding: 5px 20px 5px 20px;
  }
  label {
    padding: 5px;
  }
}

.sidebar {
  font-size: 1.5rem;
  list-style: none;
  .sidebar_nav {
  }

  .selected .sidebar_link {
    color: rgb(0, 255, 21);
  }
  .sidebar_item {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    :hover {
      color: aliceblue;
    }
  }
  .sidebar_link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar_name {
    padding-right: 10px;
  }
}

.dashboard_widget {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 100%;
  .widget {
    display: flex;
    gap: 10px;
    width: 30%;
    padding: 10px;
  }

  .icon {
    padding: 10px;
    color: aliceblue;
  }

  .description {
  }
}

.dashboard_chart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85%;
  width: 100%;
}

.product_list {
  padding: 20px 15px 20px 15px;
  width: 80%;
  table {
    width: 100%;

    padding: 10px;

    thead {
      text-align: right;
      th {
        padding-bottom: 10px;
      }
    }

    border-collapse: collapse;
  }
  table tbody > :nth-child(odd) {
    background-color: #e2e3e9;
  }

  button {
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    margin: 5px;
  }

  .edit_btn {
    border: 1px solid rgb(125, 219, 245);
    color: rgb(125, 219, 245);
  }
  .edit_btn:hover {
    color: #000000;
    background-color: rgb(125, 219, 245);
  }
  .delete_btn {
    color: red;
    border: 1px solid red;
  }
  .delete_btn:hover {
    color: white;
    background-color: red;
  }
}

.product_form {
  width: 80%;
  .card_header {
    border-bottom: 1px solid #999;
    padding: 5px;

    background-color: #e9ebfa;
  }
  .card_body {
    width: 100%;
    height: 100%;
  }
}
