$light1: rgb(255, 255, 255);
$light2: rgb(240, 238, 238);
$light3: rgb(211, 207, 207);
$light4: rgb(180, 176, 176);
$light5: rgb(93, 92, 92);
$dark1: rgb(0, 0, 0);
$dark2: rgb(47, 41, 41);
$dark3: #444;

.product_manager {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 11fr;
  width: 100vw;
  height: 100vh;
}
///////////////////////////MainHeader////////////////////////
.main_header {
  grid-column: 1/3;
  grid-row: 1/2;
  // z-index: 20;
  // width: 100%;
  // height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light2;

  .themBtn {
    display: flex;
    align-items: center;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 50px;
    color: $dark1;
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    font-weight: bold;
    //height: 50%;
    img {
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
  }

  .menu_icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
}

/////////////////////////////////////////Side-Bar//////////////
.sidebar {
  grid-column: 1/2;
  grid-row: 2/3;

  transition: all 0.5s ease;
  text-align: center;

  font-size: 1.5rem;
  list-style: none;
  background-image: linear-gradient(
    109.6deg,
    #4183c4 11.2%,
    rgba(121, 137, 212, 1) 91.2%
  );
  display: flex;
  justify-content: center;
  .sidebar_nav {
  
  }


  .sidebar_item {
    padding: 10px 10px 10px 20px;
    display: flex;
    justify-content: flex-start;

    :hover {
      color: $light1;
    }
  }
  .sidebar_link>div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light3;
  }
  .sidebar_name {
    padding-right: 10px;
  }

  .selected .sidebar_link>div{
    color: rgb(0, 255, 21);
  }
}

/////////////////////////////////////Login Page///////////////////////
.page_wraper .login_page {
  display: flex;

  width: 350px;
  justify-content: center;
  align-items: center;
  .row {

    flex-direction: column;
  }

}

///////////////////////////////////////Global for all page////////////////////////
.page_wraper {
  grid-column: 2/3;
  grid-row: 2/3;

  display: flex;
  padding-top: 30px;
  flex-direction: column;

  align-items: center;
  background-color: $light1;

  overflow: auto;
}

.card {
  border: 1px solid $light3;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: 0.05);
  font-size: 1.5rem;
  background-color: $light1;
  width: 100%;
}

.card_body {
  width: 100%;
  height: 100%;

  padding: 20px;
  font-size: 1.5rem;

  form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .row {
    display: flex;
    //flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
  }
  .row > div {
    display: flex;
    flex-direction: column;
    //width: -content;
    flex-basis: 49%;
    // min-width: 300px;
  }

  input,
  select,
  textarea {
    border: 1px solid $light3;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 500;
    transition: outline 0.1s ease;
    padding: 10px;
    direction: ltr;
  }
  textarea {
    resize: vertical;
  }

  input:focus,
  select:focus,
  textarea:focus {
    border: 1px solid #1b26f1;
    outline: 5px solid rgba($color: #6b72fb, $alpha: 0.3);
  }
  [type="submit"] {
    align-self: flex-start;
    padding: 5px 20px 5px 20px;
  }
  label {
    padding: 5px;
  }

  button {
    background-color: #6b72fb;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 20px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
  }

  button:hover {
    background-color: #1b26f1;
  }

  .user_message {
    display: flex;
    flex-direction: column;
  }
}

///////////////////////////////////////Dashboard//////////////////////
.dashboard_widget {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: fit-content;
  width: 100%;
  
  .widget {
    display: flex;
    gap: 10px;
    width: 30%;
    height: 100%;
    padding: 10px;
  }

  .icon {
    padding: 10px;
    color: $light2;
  }

  .description {
  }
}

.dashboard_chart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85%;
  width: 100%;
}

///////////////////////////////////////////Product-List///////////////
.product_list {
  padding: 20px 15px 20px 15px;
  width: 80%;
  table {
    width: 100%;

    padding: 10px;

    thead {
      text-align: right;
      th {
        padding-bottom: 10px;
      }
    }

    border-collapse: collapse;
  }
  table tbody > :nth-child(odd) {
    background-color: $light2;
  }

  button {
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    margin: 5px;
  }

  .edit_btn {
    border: 1px solid rgb(125, 219, 245);
    color: rgb(125, 219, 245);
  }
  .edit_btn:hover {
    color: #000000;
    background-color: rgb(125, 219, 245);
  }
  .delete_btn {
    color: red;
    border: 1px solid red;
  }
  .delete_btn:hover {
    color: white;
    background-color: red;
  }
}

/////////////////////////////////////////////Product-Form//////////////
.product_form {
  width: 90%;
  .card_header {
    border-bottom: 1px solid #999;
    padding: 5px;
    background-color: #e9ebfa;
  }
}

.add_product {
  background-image: linear-gradient(
    90deg,
    rgb(143, 243, 245),
    rgb(13, 220, 223)
  );
}
.add_product:hover {
  background-image: linear-gradient(
    -90deg,
    rgb(143, 243, 245),
    rgb(13, 220, 223)
  );
}

.edit_product {
  background-color: rgb(249, 249, 249);
}

.error {
  color: red;
  font-size: 1.2rem;
  padding: 10px;
  margin: 0;
}

.remove_modal {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: $light2;
  padding: 10px;
  color: red;

  font-size: 1.5rem;
  width: 40%;
  height: 30%;
  z-index: 5;
   left: 30%;
   top: 30%;
   >div{
    padding: 20px;
   }
  button {
    padding: 5px 30px 5px 30px;
  }

  .rm_button {
    display: flex;
    width: 100%;
    
    justify-content: space-around;
  }
}

.disable{
  filter: brightness(0.5);
}

//////////////////////////////////////Dark-Mode////////////////////////
.dark {
  background-color: $dark2;
  background-image: linear-gradient(
    109.6deg,
    #0e1925 11.2%,
    rgb(27, 36, 75) 91.2%
  );
  color: $light5;

  .themBtn {
    color: $light1;
  }
}

//////////////////////////////////Rsponsive///////////////////@at-root
///
///

@media only screen and (max-width: 768px) {
  /* For tablet: */
  .remove_modal{
    width: 80%;
    left: 10%;
      }
  .sidebar {
    font-size: 2rem;
  }

  .sidebar .sidebar_name {
    display: none;
  }

  .page_wraper {
    font-size: 1.1rem;
  }
  .card {
    font-size: 1.2rem;
  }
  .card_body {

    .row {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile: */

  .remove_modal{
width: 80%;
left: 10%;
  }
  .product_list {
    padding: 20px 15px 20px 15px;
    width: 95%;
  }
  .sidebar {
    font-size: 1.5rem;
  }
  .sidebar .sidebar_name {
    display: inline-block;
  }
  .main_header .menu_icon {
    display: flex;
    align-items: center;
  }
  .card {
    font-size: 1rem;
  }
  .sidebar {
    position: absolute;
    height: 100%;
  }
  .show {
    right: 0px;
  }
  .hide {
    right: -100%;
  }
  .page_wraper {

  }

  .card_body {
    font-size: 1rem;
  }

  .row > div {

  }
}
