*{
  scroll-behavior:smooth;
}
body{
 
}

.App {
overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.main-header-img {
  width: 100%;
  height: 100%;
}



.App-header {
  background-color: #282c34;
  background-image: url("./img/main-header-img.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background-size: cover;
}

.welcome-text {
  color: #555;
  font-size: 1.5rem;
}
.name-text {
  font-size: 4rem;
  color: white;
  font-weight: 500;
}
.type-text {
  color: white;
  font-size: 1.5rem;
  border: 1px solid transparent;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background-color: transparent;
  //caret-color: red;
  
  outline: none;
  //outline-style: none;
  //shape-outside: none;
  //outline-color: transparent;
  box-shadow: none;
}

.main-header-link{
  display: flex;
  justify-content: center;
}
.main-header-link span {
  display: flex;
  justify-content: center;
  padding: 0.6rem;
  margin: 1rem;
 
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s ease-out;
  z-index: 2;

}

.main-header-link span:hover {
background-color: blueviolet;
}

.header-canvas{
  position: absolute;
  width: 100%;
  height: 100%;
}


/********************ABOUT ME****************/
.about-me {
  display: flex;
 
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 4rem;
  padding: 3rem;
  width: 100vw;
  height: 100vh;
}
.about-me .right {
  text-align: left;
  border: 10px solid rgb(245, 245, 245);
  border-radius: 5px;
}
.about-me .right img {
  height: 100%;
  width: 100%;

}

.about-me .left {
  flex-basis: 60%;
  
  align-self: flex-start;
}


.about-me .left h1{

  font-weight: 1000;
  text-shadow:2px 2px 2px rgb(151, 151, 172);
}
.about-me .left h1 span{
  color: red;
  border-bottom: 1px solid red;

}



/********************MAIN MENU****************/
.main-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  color: aliceblue;
  z-index: 2;
  transition: all 0.5s;
 
}
.ShowInTop{
  color: #282c34;
  position: fixed;
  background-color: white;
  box-shadow: 0 1px 5px 1px gainsboro;
}

.main-menu .menu {
  display: flex;
  column-gap: 2rem;
}

.main-menu .menu .item {
  cursor: pointer;
  font-weight: bold;
  padding: 1rem;
}

.main-menu .menu .item:hover {
  color: blueviolet;

  transition: all 0.3s ease-in-out;
}


