* {
  scroll-behavior: smooth;
}
body {
}

.App {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-header-img {
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  background-image: url("./img/main-header-img.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background-size: cover;
}

.welcome-text {
  color: #555;
  font-size: 1.5rem;
}
.name-text {
  font-size: 4rem;
  color: white;
  font-weight: 500;
}
.typer {
  color: #999;
  font-size: 1.5rem;
  border: 1px solid transparent;
  border-top: 1px solid rgba(199, 195, 195, 0.2);
  border-bottom: 1px solid rgba(199, 195, 195, 0.2);
  background-color: transparent;
}
.type-text {
}

.main-header-link {
  display: flex;
  justify-content: center;
}
.main-header-link span {
  display: flex;
  justify-content: center;
  padding: 0.6rem;
  margin: 1rem;

  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s ease-out;
  z-index: 2;
}

.main-header-link span:hover {
  background-color: blueviolet;
}

.header-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

/********************ABOUT ME****************/
.about-me {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  column-gap: 4rem;
  padding: 3rem;
  width: 100vw;
  height: 100vh;
}
.about-me .right {
  text-align: left;
  border: 10px solid rgb(245, 245, 245);
  border-radius: 5px;
}
.about-me .right img {
  height: 100%;
  width: 100%;
}

.about-me .left {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  flex-basis: 60%;
  height: 100%;
  justify-content: space-between;

  align-self: flex-start;
}

.about-me .left h1 {
  font-weight: 1000;
  text-shadow: 2px 2px 2px rgb(151, 151, 172);
}
.about-me .left h1 span {
  color: red;
  border-bottom: 1px solid red;
}

.about-me .left p {
  padding-bottom: 30px;
  border-bottom: 1px solid #999;
}

.about-me .left .description {
  display: flex;

  flex-wrap: wrap;
}
.about-me .left .description div {
  min-width: 50%;
  padding-bottom: 2rem;
}

.about-me .left button {
  align-self: flex-start;
  position: relative;
  // padding: 15px 40px 15px 40px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: rgb(155, 87, 172);
  color: aliceblue;
  z-index: 2;
}
.about-me .left button:hover {
  color: #282c34;
}

.about-me .left button::before {
  transition: all 0.3s ease-out;
  border-radius: 30px;
  content: "";
  width: 0px;
  height: 50px;
  background-color: rgb(245, 240, 240);
  position: absolute;
  left: 100px;
  top: 0px;
  z-index: -1;
}
.about-me .left button:hover::before {
  width: 200px;
  left: 0px;
  top: 0px;
}

/********************MAIN MENU****************/
.main-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  color: aliceblue;
  z-index: 2;
  transition: all 0.5s;
}
.ShowInTop {
  color: #282c34;
  position: fixed;
  background-color: white;
  box-shadow: 0 1px 5px 1px gainsboro;
}

.main-menu .menu {
  display: flex;
  column-gap: 1rem;
}

.main-menu .menu .item {
  cursor: pointer;
  font-weight: bold;
  padding: 1rem;
}

.main-menu .menu .item:hover {
  color: blueviolet;

  transition: all 0.3s ease-in-out;
}

///////////////////////////////////MY SKILLS//////////
.my-skills {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.my-skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
  background-color: rgb(242, 242, 242);
}
.my-skills .title {
  padding: 100px;
}
.my-skills .skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 1;
  width: 100%;
  padding: 30px;
}
.my-skills .skills .skill {
  width: 40%;
  position: relative;
}
.my-skills .skills .skill .name {
  padding-bottom: 20px;
}
.my-skills .skills .skill .bar {
  background-color: white;
  width: 100%;
  height: 5px;
}

.my-skills .skills .skill .bar .bar-value {
  background-color: rgb(173, 7, 228);
  height: 5px;
}
.my-skills .skills .skill .degree {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: 50%;
  border-radius: 5px;
  background-color: white;
  width: 30px;
  height: 30px;
}




//////////////////////PORTFOLIO//////////////
///
.portfolio {
  text-align: center;
}
.portfolio .title {
  font-size: 3rem;
  padding: 0 0 3rem 0;
}
.portfolio .works {
  // margin: 5rem 15rem 10rem 15rem;

  display: flex;
  max-width: 70vw;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}

.portfolio .works .work {
  position: relative;
  width: 350px;
  height: 350px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.portfolio .works .work img {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
}
.portfolio .works .work .work-title {
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100%;
  left: 0;
  background-color: rgba($color: #93b6fc, $alpha: 0.3);
  div {
    padding: 10px;
  }

  .icons {
    display: flex;
    gap: 50px;
    font-size: 1.5rem;
    .zoom {
      cursor: pointer;
    }

    .zoom:hover{
      color: red;
    }
    .link {
      cursor: pointer;
    }

    .link:hover {
      color: red;
    }
  }
}

.portfolio .works .work:hover {
  .work-title {
    top: 0;
  }
}
